@model GetProductDto

<h1 style="margin-left:40%; color:green">Product List</h1>
<form method="get" asp-action="GetProductById" class="mt-3"></form>
<div style="height: 331px; width: 100%">
    
<table class="table mt-4">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>CreateAt</th>
            <th>UpdateAt</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

            <tr>
                <td>@Model.Id</td>
                <td>@Model.ProductName</td>
                <td>@Model.CreateAt</td>
                <td>@Model.UpdateAt</td>
            </tr>
        
    </tbody>
</table>

</div>